[dotenv@17.3.1] injecting env (11) from .env -- tip: ­ƒøí´©Å auth for agents: https://vestauth.com

-- Table: morceaux
CREATE TABLE `morceaux` (
  `id` varchar(36) NOT NULL,
  `nom` text NOT NULL,
  `compositeur` text,
  `arrangement` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

-- Table: partitions
CREATE TABLE `partitions` (
  `id` varchar(36) NOT NULL,
  `nom` text NOT NULL,
  `morceau_id` varchar(36) NOT NULL,
  `instrument_id` varchar(36) NOT NULL,
  `file_path` text,
  `file_name` text,
  `file_type` enum('pdf','image') DEFAULT NULL,
  `file_size` bigint DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `partitions_morceau_id_fkey` (`morceau_id`),
  KEY `partitions_instrument_id_fkey` (`instrument_id`),
  CONSTRAINT `partitions_instrument_id_fkey` FOREIGN KEY (`instrument_id`) REFERENCES `instruments` (`id`),
  CONSTRAINT `partitions_morceau_id_fkey` FOREIGN KEY (`morceau_id`) REFERENCES `morceaux` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

-- Table: activity_log
CREATE TABLE `activity_log` (
  `id` char(36) NOT NULL,
  `type` enum('event','partition','news') NOT NULL,
  `action_type` enum('create','update','delete') NOT NULL,
  `target_id` char(36) DEFAULT NULL,
  `orchestra_id` char(36) DEFAULT NULL,
  `created_by` char(36) NOT NULL,
  `title` varchar(255) NOT NULL,
  `message` text NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `created_by` (`created_by`),
  CONSTRAINT `activity_log_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `profiles` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
