@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .admin-card {
    @apply relative p-6 bg-white/60 backdrop-blur-xl rounded-2xl shadow-sm hover:shadow-2xl transition-all duration-300 flex flex-col items-center justify-center border border-white/80 overflow-hidden transform hover:-translate-y-1.5 z-10;
  }
  
  .admin-card::before {
    content: '';
    @apply absolute inset-0 bg-gradient-to-br from-white/40 to-white/0 opacity-0 group-hover:opacity-100 transition-opacity duration-300 pointer-events-none z-[-1];
  }
  
  .admin-card:hover {
    @apply border-teal-200 bg-white/80;
  }
}

@layer utilities {
  .animate-marquee {
    animation: marquee 40s linear infinite;
  }

  .animate-marquee-slow {
    animation: marquee 60s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  .pause-on-hover:hover {
    animation-play-state: paused;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}